<div class="page-header--top">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="page-header--top-right">
                <div class="notification-container notification-light">
                    <div class="swiper notification-swiper-slider mb-5">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="notification-item">
                                    <div class="notification-item--text">خوش آمدید 👋</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="notification-item">
                                    <div class="notification-item--text">
                                        زمستان امسال با تخفیفات ويژه 😍
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="notification-item">
                                    <div class="notification-item--text">
                                        به باشگاه مشتریان ما بپیوندید 😎
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-header--top-left">
                <ul class="nav nav-light justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">وبلاگ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">پرسش های متداول</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="ContactUs">تماس با ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">درباره ما</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>