<div class="page-header--bottom">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="vertical-menu">
                <a href="#" class="vertical-menu-btn">دسته بندی کالاها <i class="ri-apps-fill icon"></i></a>
                <div class="vertical-menu-items">
                    <ul>
                        <li class="mega-menu-category show">
                            <a href="#">کالای دیجیتال</a>
                            <ul class="mega-menu">
                                <li class="parent"><a href="#">لوازم جانبی گوشی</a></li>
                                <li><a href="#">کیف و کاور گوشی</a></li>
                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                <li class="parent"><a href="#">گوشی موبایل</a></li>
                                <li><a href="#">سامسونگ</a></li>
                                <li><a href="#">هوآوی</a></li>
                                <li><a href="#">اپل</a></li>
                                <li><a href="#">شیائومی</a></li>
                                <li><a href="#">آنر</a></li>
                                <li><a href="#">نوکیا</a></li>
                                <li class="parent"><a href="#">واقعیت مجازی</a></li>
                                <li class="parent"><a href="#">مچ بند و ساعت هوشمند</a></li>
                                <li class="parent"><a href="#">لوازم جانبی گوشی</a></li>
                                <li><a href="#">کیف و کاور گوشی</a></li>
                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                <li class="parent"><a href="#">گوشی موبایل</a></li>
                                <li><a href="#">سامسونگ</a></li>
                                <li><a href="#">هوآوی</a></li>
                                <li><a href="#">اپل</a></li>
                                <li><a href="#">شیائومی</a></li>
                                <li><a href="#">آنر</a></li>
                                <li><a href="#">نوکیا</a></li>
                                <li class="parent"><a href="#">واقعیت مجازی</a></li>
                                <li class="parent"><a href="#">مچ بند و ساعت هوشمند</a></li>
                            </ul>
                        </li>
                        <li class="mega-menu-category">
                            <a href="#">مد و پوشاک</a>
                            <ul class="mega-menu">
                                <li class="parent"><a href="#">لوازم جانبی گوشی</a></li>
                                <li><a href="#">کیف و کاور گوشی</a></li>
                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                <li class="parent"><a href="#">گوشی موبایل</a></li>
                                <li><a href="#">سامسونگ</a></li>
                                <li><a href="#">هوآوی</a></li>
                                <li><a href="#">اپل</a></li>
                                <li><a href="#">شیائومی</a></li>
                                <li><a href="#">آنر</a></li>
                                <li><a href="#">نوکیا</a></li>
                                <li class="parent"><a href="#">لوازم جانبی گوشی</a></li>
                                <li><a href="#">کیف و کاور گوشی</a></li>
                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                <li class="parent"><a href="#">گوشی موبایل</a></li>
                                <li><a href="#">سامسونگ</a></li>
                                <li><a href="#">هوآوی</a></li>
                                <li><a href="#">اپل</a></li>
                                <li><a href="#">شیائومی</a></li>
                                <li><a href="#">آنر</a></li>
                                <li><a href="#">نوکیا</a></li>
                            </ul>
                        </li>
                        <li><a href="#">اسباب بازی</a></li>
                        <li><a href="#">زیبایی و سلامت</a></li>
                        <li><a href="#">خانه و آشپزخانه</a></li>
                        <li><a href="#">لوازم تحریر</a></li>
                        <li><a href="#">ورزش و سفر</a></li>
                        <li><a href="#">سوپرمارکت</a></li>
                    </ul>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">خانه</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">وبلاگ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">پرسش های متداول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="ContactUs">تماس با ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">درباره ما</a>
                </li>
            </ul>
        </div>
    </div>
</div>